body {
    
    margin-top: 100px;
    
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    z-index:1000;
    
}

a {
  color: #00B7FF;
}

input , label{
    
    margin: 10px;
    display: block;
    
}
