<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WorkOut Buddy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/w3.css">
    <link rel="stylesheet" href="stylesheets/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="stylesheets/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"
    />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/drag.js">

    </script>
    <script type="text/javascript" src="public/javascripts/dragdrop.js"></script>
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
    <script type="text/javascript" src="public/javascripts/login-response.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).tooltip({
                tooltipClass: "uitooltip",
                position: {
                    my: "left bottom",
                    at: "right+3 top"
                }
            });
        });

        $(document).ready(function () {
            $("body").css("background", "#48ADF0");
        });

        $(function () {


            $('#dragme').draggable({
                scroll: true,
                revert: "invalid"

            });
            //droppable
            $('#droppable').droppable({
                accept: '#dragme',
                drop: function () {

                    // $(this).find('span').html("drop the box");

                    $(this).text("");
                }

            });
            /*$(".reset").click(function() {
                $("#dragme").css({
                    'left': $("#dragme").data('originalLeft'),
                    'top': $("#dragme").data('origionalTop')
                });*/
        });
        $(init);

        function init() {
            $("#accordion").accordion({
                collapsible: true
            });

        }

        $('textarea').autoResize();
    </script>
</head>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
                href="javascript:void(0);" onclick="openNav()"></a>
            <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white " title="Home "><span class="ui-icon ui-icon-home"></span></a>
            <a href="" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white " title="Account Settings "><span class="ui-icon ui-icon-gear "></span></a>
            <a href="chatPage.html" id="messages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white
            " title="Messages "><span class="ui-icon ui-icon-mail-closed "></span></a>
            <div class="w3-dropdown-hover w3-hide-small ">
                <button class="w3-button w3-padding-large w3-hover-white" title="Notifications "><span class="ui-icon ui-icon-circle-triangle-s "></span></button>
            </div>
        

            <!-- Page Container -->
            <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
                <!-- The Grid -->
                <div class="w3-row">
                    <!-- Left Column -->
                    <div class="w3-col m3">
                        <!-- Profile -->
                        <div class="w3-card-2 w3-round w3-white">
                            <div class="w3-container">
                                <h4 class="w3-center">My Profile</h4>
                                <p class="w3-center"><img src="images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>

                            </div>
                        </div>
                        <br>

                        <!-- Accordion -->
                        <div class="w3-card-2 w3-round" id="accordian">
                            <div class="w3-white">
                                <button onclick="myFunction(&#39;Demo1&#39;)" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                                <div id="Demo1" class="w3-hide w3-container">
                                    <p>Some text..</p>
                                </div>
                                <button onclick="myFunction(&#39;Demo2&#39;)" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                                <div id="Demo2" class="w3-hide w3-container">
                                    <p>Some other text..</p>
                                </div>
                                <button onclick="myFunction(&#39;Demo3&#39;)" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                                <div id="Demo3" class="w3-hide w3-container">
                                    <div class="w3-row-padding">
                                        <br>
                                        <div class="w3-half" id="dragme">
                                            <img src="images/lights.jpg" style="width:100%" class="w3-margin-bottom">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- End Left Column -->
                    </div>

                    <!-- Middle Column -->
                    <div class="w3-col m7">
                        <!-- Upper text box for Ajax functionality -->
                        <div class="w3-row-padding">
                            <div class="w3-col m12">
                                <div class="w3-card-2 w3-round w3-white">
                                    <div class="w3-container w3-padding">
                                        <!-- <h6 class="w3-opacity">Social Media template by w3.css</h6> -->
                                        <!-- <p contenteditable="true" class="w3-border w3-padding" id="textarea">Post Status</p> -->
                                        <textarea cols="60" rows="5" id="droppable"></textarea>
                                        <button type="button" class="w3-button w3-theme"> &nbsp;Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Lower middle column for AJax functionality -->
                        <div class="w3-container w3-card-2 w3-white w3-round w3-margin" id="lower"><br>
                            <img src="images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                            <span class="w3-right w3-opacity">1 min</span>
                            <h4>Ron Mak</h4><br>
                            <hr class="w3-clear">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            </p>
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i><span class="ui-icon ui-icon-heart "></span></i></button>
                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i><span class="ui-icon  ui-icon-copy"></span></i></button>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="w3-col m2">
                        <div class="w3-card-2 w3-round w3-white w3-center">
                            <div class="w3-container">
                                <p>Upcoming Events:</p>
                                <img src="images/forest.jpg" alt="Forest" style="width:100%;">
                                <p><strong>Holiday</strong></p>
                                <p>Friday 15:00</p>
                                <p>
                                <a href="/userlist">
                                    
                                Show users                                        
                                    </a>
                                <br>
                                <a href="/updateform">
                                    update
                                        
                                    </a>
                                <br>
                                
                                <a href="/deleteform.html">
                                    
                                deactivate
                                        
                                    </a>
                                    <br>
                                    <a href="/logout">
                                    
                                logout
                                        
                                    </a>
                                    </p>
                           
                            </div>
                        </div>
                        <br>

                        <div class="w3-card-2 w3-round w3-white w3-center">
                            <div class="w3-container">
                                <p>Friend Request</p>
                                <img src="images/avatar6.png" alt="Avatar" style="width:50%"><br>
                                <span>Jane Doe</span>
                                <div class="w3-row w3-opacity">
                                    <div class="w3-half">
                                        <button class="w3-button w3-block w3-green w3-section" title="Accept"><span class="ui-icon ui-icon-circle-check"></span></button>
                                    </div>
                                    <div class="w3-half">
                                        <button class="w3-button w3-block w3-red w3-section" title="Decline"><span class="ui-icon ui-icon-circle-close"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- End Right Column -->
                    </div>

                    <!-- End Grid -->
                </div>

                <!-- End Page Container -->
            </div>
            <br>

            <!-- Footer -->
            <footer class="w3-container w3-theme-d3 w3-padding-16">
                <h5>Health Is Wealth!!</h5>
            </footer>

            <footer class="w3-container w3-theme-d5">

            </footer>

            <script>
                // Accordion
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                        x.previousElementSibling.className += " w3-theme-d1";
                    } else {
                        x.className = x.className.replace("w3-show", "");
                        x.previousElementSibling.className =
                            x.previousElementSibling.className.replace(" w3-theme-d1", "");
                    }
                }

                // Used to toggle the menu on smaller screens when clicking on the menu button
                function openNav() {
                    var x = document.getElementById("navDemo");
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
            </script>          
        
        </div>
</body>

</html>