extends layout

block content
    h1= title
  
   
    
    form#formAddUser(name="searchreq",method="post",action="/searchfl")
        &nbsp;
        &nbsp;
        &nbsp; 
        &nbsp; 
        &nbsp;
        input#inputfitnesslevel(type="number", placeholder="0", name="fitnesslevel")
       
        button#btnSubmit(type="submit") submit